<header>
    <mat-toolbar color="primary">
        <span class="spacer-short"></span>
        <a class="logo" href="/home">Já Li</a>
        <span class="spacer-short"></span>

        <a mat-button aria-label="Button to Home" href="#">
            <mat-icon>home</mat-icon>
            <span fxHide.xs> Home </span>
        </a>

        <a mat-button aria-label="Button to Rankings" href="#">
            <mat-icon>insert_chart_outlined</mat-icon>
            <span fxHide.xs> Ranking </span>
        </a>
        <span class="spacer-full"></span>
        <button mat-icon-button  [matMenuTriggerFor]="menu" aria-label="Button to Settings and Logout" >
            <mat-icon>person</mat-icon>
        </button>
    </mat-toolbar>

    <mat-menu #menu="matMenu" >
        
        <button mat-menu-item aria-label="Button to Settings and Logout">
            <mat-icon class="menuItem">settings</mat-icon>
            <span style="font-weight: bold;">Configurações</span>
        </button>

        <a mat-menu-item aria-label="Button to Settings and Logout" (click)="logout()">
            <mat-icon class="menuItem">meeting_room</mat-icon>
            <span style="font-weight: bold;">Sair</span>
        </a>
    </mat-menu>
</header>