<mat-toolbar color="primary">
    <span class="spacer-short"></span>
    <a class="logo" href="/home">Já Li</a>
    <span class="spacer-short"></span>

    <a mat-button aria-label="Button to Home" href="#">
        <mat-icon>home</mat-icon>
        <span fxHide.xs> Home </span>
    </a>

    <a mat-button aria-label="Button to Rankings" href="#">
        <mat-icon>insert_chart_outlined</mat-icon>
        <span fxHide.xs> Ranking </span>
    </a>

    <span class="spacer-full"></span>
    <a mat-icon-button (click)="openLoginForm()" aria-label="Example icon-button with heart icon">
        <mat-icon>person</mat-icon>
    </a>
</mat-toolbar>