<div class="page" fxFlex fxLayout="row" fxLayoutAlign="center center">
    <div class="image"  fxHide.lt-md>
    </div>
    <div class="form" fxFlex fxLayoutAlign="center center" fxLayout="column">
        <p> {{user | json}} </p>
        <form novalidate #loginForm="ngForm" fxLayout="column" (ngSubmit)="onSubmit()" fxLayoutGap="2rem">
            <mat-form-field width="100%">
                <input matInput type="text" placeholder="Username" [(ngModel)]="user.name" name="username"
                    #username="ngModel" required>
                <mat-error *ngIf="username.errors">Username error label</mat-error>
            </mat-form-field>

            <mat-form-field>
                <input matInput type="password" placeholder="Password" [(ngModel)]="user.password" name="password"
                    #password="ngModel" required>
                <mat-error *ngIf="username.errors">Username error label</mat-error>
            </mat-form-field>
            <div fxFlex fxLayout="row" fxLayoutAlign="space-around center" class="actions">
                <button mat-flat-button color="primary" type="submit">Entrar</button>
                <button mat-button color="primary" type="button" (click)="registry()">Registrar-se</button>
            </div>
        </form>
    </div>
</div>