<mat-toolbar color="primary">
    Login
    <span class="spacer-full"></span>
    <button mat-icon-button mat-dialog-close>
        <mat-icon>close</mat-icon>
    </button>    
</mat-toolbar>

<p> {{user | json}} </p>

<form novalidate #loginForm="ngForm" (ngSubmit)="onSubmit()">
    <mat-dialog-content>
        <p>
            <mat-form-field width="100%">
                <input matInput type="text" placeholder="Username" [(ngModel)]="user.username" name="username"
                #username="ngModel" required>
                <mat-error *ngIf="username.errors">Username error label</mat-error>
            </mat-form-field>
            
            <mat-form-field>
                <input matInput type="password" placeholder="Password" [(ngModel)]="user.password" name="password"
                #password="ngModel" required>
                <mat-error *ngIf="username.errors">Username error label</mat-error>
            </mat-form-field>
        </p>
    </mat-dialog-content>
</form>