/* You can add global styles to this file, and also import other style files */
html, body { height: 100%; }
body { 
    margin: 0; 
}

/* Material Icons muda as fontes para Roboto*/
*{
    font-family: Roboto, 'Helvetica', sans-serif; 
    --primary-color: #3F51B5;
}

.spacer-full {
    flex: 1 1 auto;
}

.spacer-short {
    flex: 0.05 1 0;
}

.icon{
    font-size: 25px;
}

.primary-color{
    color: var(--primary-color);
}

.loading h3{
    font-size: 24px;
}