<app-header></app-header>
<div *ngIf="ranking">
    <h1 fxLayoutAlign="center center" class="h1title primary-color" style="margin-top: 2rem;">Ranking</h1>
    <mat-grid-list cols="3" rowHeight="7.28vh" *ngFor="let ranker of ranking" class="ranking">
        <mat-grid-tile style="font-size:24px;">
            # {{(ranking.indexOf(ranker) + 1) + numberPage * 10}}
        </mat-grid-tile>
        <mat-grid-tile>
            <p>
                <span class="title">Nome: </span> {{ranker.name}}
            </p>
        </mat-grid-tile>
        <mat-grid-tile>
            <p>
                <span class="title">Pontos: </span> {{ranker.points}}
            </p>
        </mat-grid-tile>
    </mat-grid-list>
    <mat-paginator 
        [pageSize]="1"
        [length]="totalPages"
        (page)="getPaginatorData($event)"
        aria-label="Select page"
    >
    </mat-paginator>

</div>
<app-loading [hidden]="ranking"></app-loading>
<app-footer></app-footer>