<mat-card class="card" fxLayout="column">
    <mat-card-header class="header">
        <mat-card-title class="title">{{_bookName}}</mat-card-title>
        <mat-card-subtitle class="subtitle">{{_genre}}</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image
        src='{{_urlImg}}'
        alt="Book Image"
        class="image"
        (error)="noImageFunction()"
    >
    <mat-card-content fxLayoutAlign="space-between">
        <p *ngIf="numberUsers > 1">
            {{_users}} usuários leram esse livro.
        </p>
        <p *ngIf="numberUsers === 1">
            Um usuário leu esse livro.
        </p>
        <p *ngIf="numberUsers === 0">
           Nenhum usuário leu esse livro.
        </p>

        <p>Páginas: {{_pages}}</p>
    </mat-card-content>
    <mat-card-actions fxLayoutAlign="center center">
        <button *ngIf="!markedBoolean" mat-button (click)="onClickRead()" > 
            <span>Marcar como Lido</span>
            <mat-icon class="icon">library_add</mat-icon>
        </button>
        <button *ngIf="markedBoolean" mat-flat-button color="primary" (click)="onClickRemove()">
            <span>Lido</span>
            <mat-icon class="icon">check</mat-icon>
        </button>

        <button  mat-button [routerLink]="['/books', _bookId]"> 
            <span>Ver Mais</span>
            <mat-icon class="icon2" svgIcon="plusSolid"></mat-icon>
        </button>
    </mat-card-actions>
</mat-card>