@import url(./../../../styles.css);

.card{
    max-width: auto;
}

.card-avatar{
    background-size: cover;
}

.card-image{
    max-width: 400px;
}

.icon{
    padding-right: 10px;
    font-family: 'Material Icons', sans-serif !important;
}