<div fxFlex fxLayout="column">
  <mat-toolbar color="primary">
    Adicionar Livro
    <span class="spacer-full"></span>
    <button mat-button mat-dialog-close>&times;</button>
  </mat-toolbar>

  <form fxLayoutAlign="center center" fxLayout="column" novalidate #bForm="ngForm" [formGroup]="bookForm" (ngSubmit)="onSubmit()">
      <mat-dialog-content style="width: 100%;">
        <p fxLayout="column" style="margin-left: 1.5rem; margin-right: 1.5rem;">
          <mat-form-field style="margin-top: 1rem;">
            <input matInput formControlName='name' placeholder="Nome do Livro" type="text" name="username" required>
            <mat-error *ngIf="formErrors.name">{{formErrors.name}}</mat-error>
          </mat-form-field>
          
          <mat-form-field>
            <input matInput formControlName='pages' placeholder="Quantas Páginas" type="number" name="pages" required>
            <mat-error *ngIf="formErrors.pages">{{formErrors.pages}}</mat-error>
          </mat-form-field>
          
          <mat-form-field>
            <mat-label>Gênero</mat-label>
            <mat-select formControlName="genre">
              <mat-option>Selecione um gênero</mat-option>
              <mat-option *ngFor="let genre of genres" [value]="genre">{{genre}}</mat-option>
            </mat-select>
          </mat-form-field>
          
          <mat-form-field>
            <input matInput formControlName='urlImg' placeholder="URL da Imagem" type="text" name="urlImg">
          </mat-form-field>
          
        </p>
      </mat-dialog-content>
      <mat-dialog-actions>
        <span class="flex-spacer"></span>
        <button mat-raised-button type="submit" color="primary" [disabled]="bookForm.invalid">Cadastrar</button>
        <button mat-button mat-dialog-close>Cancel</button>
      </mat-dialog-actions>
  </form>
</div>